* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.text > h1 {
  text-align: center;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.hex-code-container {
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  box-shadow: 0 0 3px 0px black;
}

.hex-icon {
  background-color: rgb(236, 231, 231);
  width: 20px;
  font-weight: 600;
  position: absolute;
  height: 28.5px;
  top: 0.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 0px 0px 3px;
}

.color-button {
  background-color: black;
  border: 1pt solid white;
  border-radius: 10px;
  padding: 15px 3.4rem;
  margin: 0 auto;
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.color-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1pt solid black;
}

.copy-button {
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.copy-button:hover {
  background-color: rgb(197, 188, 188);
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.output {
  padding: 5px 15px;
  padding-left: 22px;
}
.output:focus {
  outline: none;
}

.toast-messages {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: green;
  color: white;
  border: 1pt solid white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px;
}

.toast-message-slide-in {
  animation: toast-animation-in 0.5s ease-in;
}

.toast-message-slide-out {
  animation: toast-animation-out 0.5s ease-in;
}

@keyframes toast-animation-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes toast-animation-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
